<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyConfiguration" type="ProxyMonitor.Configuration.ProxyConfiguration, ProxyMonitor"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="ProxyMonitor" switchValue="Information">
        <listeners>
          <add name="textListener" initializeData="ProxyMonitor.log" traceOutputOptions="None" type="System.Diagnostics.TextWriterTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <!-- This is an example configuration section that demonstrates the available elements and attributes.  

  It defines two different proxy servers for the LAN: a Home and a Work proxy server.
  The Home proxy is on a machine called "homeproxy" at port 8080.
  The Work proxy has an automatic configuration script located at "http://workproxy/autoconfig.pac"
  and if this one is detected, a "ConnectToShares" batch file is executed.

  A separate connection is also defined for a Virtual Private Network (VPN) connection.
  It has a proxy server specific to the VPN connection, and an alternative proxy server
  that is not automatically detected but can be manually selected if needed for some
  reason. The automatic detection is delayed for 5 seconds to allow a security check
  to complete.

  <proxyConfiguration pingTimeout="3000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="true" bypassList="server1;server2" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" command="ConnectToShares.bat" />
    </proxyServers>
    <connections>
      <connection name="VPN" detectionDelay="5000">
        <proxyServers>
          <proxyServer name="VPN Work" autoConfigUrl="http://workproxy/vpn_proxy.pac" />
          <proxyServer name="VPN Work (Alternative)" autoConfigUrl="http://workproxy/vpn_proxy_alt.pac" skipAutoDetect="true" />
        </proxyServers>
      </connection>
    </connections>
  </proxyConfiguration>
  -->

  <proxyConfiguration pingTimeout="3000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="true" bypassList="server1;server2" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" command="ConnectToShares.bat" />
    </proxyServers>
    <connections>
      <connection name="VPN" detectionDelay="5000">
        <proxyServers>
          <proxyServer name="VPN Work" autoConfigUrl="http://workproxy/vpn_proxy.pac" />
          <proxyServer name="VPN Work (Alternative)" autoConfigUrl="http://workproxy/vpn_proxy_alt.pac" skipAutoDetect="true" />
        </proxyServers>
      </connection>
    </connections>
  </proxyConfiguration>
</configuration>