<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyConfiguration" type="ProxyMonitor.Configuration.ProxyConfiguration, ProxyMonitor"/>
  </configSections>

  <!-- This is an example configuration section that demonstrates the available elements and attributes.  
  It will detect and set proxies for your primary LAN connection (wired or wireless) 
  -->

  <!--
  <proxyConfiguration pingTimeout="1000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="false" skipAutoDetect="false" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" bypassForLocalAddresses="true" bypassList="server1;server2" skipAutoDetect="false" />
    </proxyServers>
  </proxyConfiguration>
  -->

  <!-- This is a second example configuration section that demonstrates how you can define proxies for different connections.
  Named connections can be used to represent various VPN or other special-purpose connections you might use (e.g. a Sprint Aircard connection)  -->

  <proxyConfiguration disableNotifications="false">
    <proxyServers>
      <proxyServer name="LanHome" host="homeproxy" port="8080" bypassForLocalAddresses="true" skipAutoDetect="false" />
      <proxyServer name="LanWork" autoConfigUrl="http://workproxy/autoconfig.pac" bypassForLocalAddresses="true" bypassList="server1;server2" skipAutoDetect="false" />
    </proxyServers>
    <connections>
      <connection name="IT Connection Manager" detectionDelay="5000">
        <proxyServers>
          <proxyServer name="VpnHome" host="homeproxy" port="8080" bypassForLocalAddresses="false" skipAutoDetect="false"/>
          <proxyServer name="VpnWork" autoConfigUrl="http://workproxy/vpn_proxy.pac" bypassForLocalAddresses="true" bypassList="server1;server2" skipAutoDetect="false"/>
        </proxyServers>
      </connection>
    </connections>
  </proxyConfiguration>
</configuration>