<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyConfiguration" type="ProxyMonitor.Configuration.ProxyConfiguration, ProxyMonitor"/>
  </configSections>

  <!-- This is an example configuration section that demonstrates the available elements and attributes.  
  It will detect and set proxies for your primary LAN connection (wired or wireless) and for another
  connection named "VPN" that is checked after a 5 second delay.

  <proxyConfiguration pingTimeout="3000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="true" bypassList="server1;server2" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" command="ConnectToShares.bat" />
    </proxyServers>
    <connections>
      <connection name="VPN" detectionDelay="5000">
        <proxyServers>
          <proxyServer name="VPN Work" autoConfigUrl="http://workproxy/vpn_proxy.pac" skipAutoDetect="false" />
          <proxyServer name="VPN Work (Alternate)" autoConfigUrl="http://workproxy/vpn_proxy_alt.pac" skipAutoDetect="true" />
        </proxyServers>
      </connection>
    </connections>
  </proxyConfiguration>
  -->

  <proxyConfiguration pingTimeout="3000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="true" bypassList="server1;server2" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" command="ConnectToShares.bat" />
    </proxyServers>
    <connections>
      <connection name="VPN" detectionDelay="5000">
        <proxyServers>
          <proxyServer name="VPN Work" autoConfigUrl="http://workproxy/vpn_proxy.pac" skipAutoDetect="false" />
          <proxyServer name="VPN Work (Alternate)" autoConfigUrl="http://workproxy/vpn_proxy_alt.pac" skipAutoDetect="true" />
        </proxyServers>
      </connection>
    </connections>
  </proxyConfiguration>
</configuration>