<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyConfiguration" type="JelleDruyts.ProxyMonitor.Configuration.ProxyConfiguration, ProxyMonitor"/>
  </configSections>
  <!-- This is an example configuration section that demonstrates the available elements and attributes.
  <proxyConfiguration pingTimeout="1000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="false" skipAutoDetect="false" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" bypassForLocalAddresses="true" bypassList="server1;server2" command="ConnectToShares.bat" skipAutoDetect="false" />
    </proxyServers>
  </proxyConfiguration>
  -->
  <proxyConfiguration pingTimeout="1000" disableNotifications="false">
    <proxyServers>
      <proxyServer name="Home" host="homeproxy" port="8080" bypassForLocalAddresses="false" skipAutoDetect="false" />
      <proxyServer name="Work" autoConfigUrl="http://workproxy/autoconfig.pac" bypassForLocalAddresses="true" bypassList="server1;server2" command="ConnectToShares.bat" skipAutoDetect="false" />
    </proxyServers>
  </proxyConfiguration>
</configuration>